<% content_for :page_title do %>
    <%= t 'trip_explore' %>
<% end %>

<% content_for :page_class do %>
    no-page-padding
<% end %>

<% content_for :page_scripts do %>
    <script>
        var map;
        $(function () {

            // Resize the map with window changes.
            $(window).resize(function() {
                $('#map').css('height', $('#page-content').outerHeight() - $('.navbar').outerHeight());
            });

            $('#map').css('height', $('#page-content').outerHeight() - $('.navbar').outerHeight());

            // Initialize the map.
            var startMarkerIcon = L.AwesomeMarkers.icon({
                prefix: 'fa',
                icon: 'compass',
                markerColor: 'red'
            });

            var endMarkerIcon = L.AwesomeMarkers.icon({
                prefix: 'fa',
                icon: 'compass',
                markerColor: 'blue'
            });

            map = L.map('map', {
                center: [51.505, -0.09],
                zoom: 4,
                minZoom: 3
            });
            L.tileLayer( 'http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright" title="OpenStreetMap" target="_blank">OpenStreetMap</a> contributors | Tiles Courtesy of <a href="http://www.mapquest.com/" title="MapQuest" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png" width="16" height="16">',
                subdomains: ['otile1','otile2','otile3','otile4']
            }).addTo( map );
            map.invalidateSize();

            var markers = new L.MarkerClusterGroup();

            $.getJSON('<%= api_explore_path %>', function(data) {
                $.each(data, function(key, trip) {
                    var tripIcon = trip.type == 'start_loc' ? startMarkerIcon : endMarkerIcon;
                    var tripMarker = new L.marker([trip.lat, trip.long], {icon: tripIcon, url: trip.url});
                    var tripPopup = buildMarkerPopup(trip);
                    tripMarker.bindPopup(tripPopup);
                    markers.addLayer(tripMarker);
                });
            });

            map.addLayer(markers);

            function buildMarkerPopup(trip) {
                var popup = '<b>' + trip.title + '</b>';

                if(trip.start_loc || trip.end_loc || trip.start_date || trip.end_date) popup += '<br/><br/><div>';

                // Locations
                if(trip.start_loc || trip.end_loc) popup += '<i class="fa fa-compass"></i>&nbsp;';
                if(trip.start_loc && trip.end_loc) popup += '<i>' + trip.start_loc + ' - ' + trip.end_loc + '</i>';
                if(trip.start_loc && ! trip.end_loc) popup += '<i>' + trip.start_loc + '</i>';
                if(! trip.start_loc && trip.end_loc) popup += '<i>' + trip.end_loc + '</i>';

                if(trip.start_loc || trip.end_loc)  popup += '&nbsp;&nbsp;&nbsp;';

                // Dates
                if(trip.start_date || trip.end_date) popup += '<i class="fa fa-calendar"></i>&nbsp;';
                if(trip.start_date && trip.end_date) popup += '<i>' + trip.start_date + ' - ' + trip.end_date + '</i>';
                if(trip.start_date && ! trip.end_date) popup += '<i>' + trip.start_date + '</i>';
                if(! trip.start_date && trip.end_date) popup += '<i>' + trip.end_date + '</i>';

                if(trip.start_loc || trip.end_loc || trip.start_date || trip.end_date) popup += '</div>';

                // Description
                if(trip.description) popup += '<br/>' + trip.description;

                // Link
                popup += '<br/><br/><a href="' + trip.url + '">Visit trip page.</a>';

                return popup;
            }

        });
    </script>
<% end %>

<div id="map" class="gmap explore-map"></div>

<div class="widget" style="position: absolute; bottom: 10px; left: 10px;">
  <div class="widget-content widget-content-mini text-right clearfix">
    <i class="fa fa-compass text-danger"></i> Start locations
    <i class="fa fa-compass text-info" style="padding-left: 5px"></i> End locations
  </div>
</div>